<div class="container mt-5">
    <p>Início Componente APP</p>


    <p>Olá. Meu nome é: {{nome}}</p>

    <ul>
        <li>
            <a [routerLink]="['/hello']" routerLinkActive="router-link-active">Hello</a>
        </li> 
        <li>
            <a [routerLink]="['/lista']" routerLinkActive="router-link-active">Lista</a>
        </li>
        <li>
            <a [routerLink]="['/forms']" routerLinkActive="router-link-active">Forms</a>
        </li>
        <li>
            <a [routerLink]="['']" routerLinkActive="router-link-active">App</a>
        </li>
    </ul>
    
    <!-- <p>Contador: {{contador()}}</p>
    
    <button class="btn btn-primary" (click)="AddContador()">Add</button> -->
    
    <!-- <app-hello [items]="items" (Confirmar)="GerarRelatorio()"/> -->
    
    <router-outlet />

    
    <p>Fim Componente APP</p>
</div>

